PORT=3000
NODE_ENV=development

# Database
DB_CLIENT=sqlite3
DB_FILENAME=./database/dev.sqlite3

# Security
JWT_ACCESS_SECRET=your_super_secret_access_key_12345_should_be_long_and_secure
JWT_REFRESH_SECRET=your_super_secret_refresh_key_12345_should_be_long_and_secure
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# App
CORS_ORIGIN=http://localhost:8080
